/* Tipografía */
@font-face {
  font-family: "source-sans-pro";
  src: url("../assets/fonts/SourceSansPro.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/****************************************
*    Variables
*****************************************/
:root {
  --white: #ebebeb;
  --black: #000000;
  --hover: #240c0ccc;
  --outline: #da70d6;
  --font-family: "source-sans-pro";
}

/****************************************
*    Base
*****************************************/
body {
  color: var(--black);
  background: var(--white);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: var(--hover);
  text-decoration: none;
}

/****************************************
*    Componentes - Common
*****************************************/

/****************************************
*    Helpers
*****************************************/
/* Ayuda visual temporal */
.outline {
  outline: 3px dotted var(--outline);
}
